<form #kitty="ngForm" (ngSubmit) = "onFormSubmit(kitty.value)">
  <label for = "kittyName"> Name of a cat</label>
  <input type = "text" id="kittyName" name="kittyName" ngModel>
  <br>
  <label for = "breed"> Breed</label>
  <select id="breed" name="breed" ngModel>
    <option *ngFor="let breed of breeds" value="{{breed.id}}">{{breed.name}}</option>
  </select>
  <br>
  <input type = "submit" value="Add">
</form>
