<h1> {{title}}</h1>
<app-show-kitties [breeds]="breeds" [cats]="cats"></app-show-kitties>
<app-add-kitties [breeds]="breeds" (newKitty)="onNewKitty($event)"></app-add-kitties>
<!--<nav>-->
<!--  <a routerLink = "[show/']" [state]="{breeds: breeds, newKitty: parentData}">See the cats</a>-->
<!--  <a routerLink = "['/add]" [state]="{breeds:breeds}" (redirect) = "parentData=$event"> Add a cat</a>-->
<!--</nav>-->

<router-outlet></router-outlet>
